<template>
  <section id="mainEl" class="container">
    <!--<HelloWorld msg="Welcome to Your Vue.js + TypeScript App"/>-->

    <div class="card">
      <div class="card-content">
        <p class="title has-text-centered">
          <img class="logo" alt="Vue logo" src="../assets/logo.svg"><br>
          Analyse an address.
        </p>
        <p class="subtitle">
          <form v-if="isLoggedIn">
            <b-field position="is-centered">
              <b-input placeholder="Search..." type="search" icon="magnify">
              </b-input>
              <p class="control">
                <button class="button is-info">Search</button>
              </p>
              </b-field>
            </form>
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
      <span>
        View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
      </span>
        </p>
        <p class="card-footer-item">
      <span>
        Share on <a href="#">Facebook</a>
      </span>
        </p>
      </footer>
    </div>

  </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue'; // @ is an alias to /src

@Component({
  components: {
    //HelloWorld,
  },
})
export default class Home extends Vue {}
</script>
