<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-4 is-offset-4">
          <h3 class="title has-text-grey">Login.</h3>
          <div class="box">
            <form @submit="login">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="email" placeholder="Email" autofocus="" autocomplete="off"
                         v-model="email">
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input is-large" type="password" placeholder="Password" autocomplete="off"
                         v-model="password">
                </div>
              </div>
              <div class="field">
                <label class="checkbox">
                  <input type="checkbox" v-model="rememberMe">
                  Remember me
                </label>
              </div>
              <button class="button is-block is-info is-large is-fullwidth">Login</button>
            </form>
          </div>
          <p class="has-text-grey">
            <a href="/Register">Sign Up</a> &nbsp;·&nbsp;
            <!--<a href="../">Forgot Password</a> &nbsp;·&nbsp;-->
            <!--<a href="../">Need Help?</a>-->
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        email : "",
        password : "",
        rememberMe: false
      }
    },
    methods: {
      login: function () {
        const email = this.email;
        const password = this.password;
        const rememberMe = this.rememberMe;

        this.$store.dispatch('login', { email, password, rememberMe }).then(() => this.$router.push('/'))
      }
    }
  }
</script>
