<template>
    <section class="hero">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Register an account</h3>
                    <div class="box">
                        <form @submit="signup">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="text" placeholder="when name?" autofocus=""
                                           autocomplete="off" v-model="name">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="email" placeholder="email pl0x" autofocus=""
                                           autocomplete="off" v-model="email">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="P@ssword"
                                           autocomplete="off" v-model="password">
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" type="password" placeholder="repeat again pls"
                                           autocomplete="off" v-model="confirmPassword">
                                </div>
                            </div>

                            <button class="button is-block is-info is-large is-fullwidth">Sign up</button>
                        </form>
                    </div>
                    <p class="has-text-grey">
                        <a href="/Login">Return to the login page</a> &nbsp;·&nbsp;
                        <!--<a href="../">Forgot Password</a> &nbsp;·&nbsp;-->
                        <!--<a href="../">Need Help?</a>-->
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Register",
        data() {
            return {
                name : "",
                email : "",
                password : "",
                confirmPassword : ""
            }
        },
        methods: {
            signup: function () {
                let info = {
                    name: this.name,
                    email: this.email,
                    password: this.password
                };

                this.$store.dispatch('signup', info).then(() => this.$router.push('/login'));
            }
        }
    }
</script>

<style scoped>

</style>
